.pageIntro {
  position: relative;
  width:100%;
  height: fit-content;
  margin-top: 15%;
  margin-left: 40%;
  padding-bottom: -5vw;
  z-index: -1;

  transform: translate(-50%, -50%);
  width: fit-content;

  /* border: 1px solid red; */
}

.container_welcome {
  position: relative;
  padding: -10vw 0 2vw 0;

  /* border: 1px solid blue; */
}

.welcome {
  padding: 1vw 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 00.08em solid black;

  /* font-family: 'Silkscreen', cursive;
  font-weight: 400; */
  font-size: 12vw;

  position: relative;
  margin-top: 0vw;
  margin-bottom: 0.5rem;
  animation: typing 3s steps(1, end) 0.1s forwards, blink-caret .5s step-end infinite alternate;

  /* border: 1px solid blue; */
  }


.intro {
  position: relative;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
  font-weight: 400;
  transition-delay: 4000ms;

  font-size: 2.5vw;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Reno Mono', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;

  /* border: 1px solid blue; */
}

.pageIntro h2 > span > b {
  padding: 0% -2%;
  margin: 0% -0.8%;
  font-weight: 700;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
  }
  21.2% {
    width: 20.5%;
  }
  34% {
    width: 35%;
  }
  38.5% {
    width: 39.5%;
  }
  51.5% {
    width: 53.5%;
  }
  65% {
    width: 67.5%;
  }
  85% {
    width: 86.5%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.letter {
  position: relative; 
  display: inline-block; 
  opacity:1; 
  color: #ffc024;
}

#W {
  animation: floatW 3s ease-in-out infinite;
}

#E1 {
  animation: floatE1 3s ease-in-out infinite;
}

#L {
  animation: floatL 3s ease-in-out infinite;
}

#C {
  animation: floatC 3s ease-in-out infinite;
}

#O {
  animation: floatO 3s ease-in-out infinite;
}

#M {
  animation: floatM 3s ease-in-out infinite;
}

#E2 {
  animation: floatE2 3s ease-in-out infinite;
  animation: spin 3s 5s infinite linear;
}

@keyframes floatW {
  0% {
    transform: translateY(0vw);
    color: #FF4E42;
  }
  50% {
    transform: translateY(2.5vw);
    color: #ffc024;
  }
  100% {
    transform: translateY(0vw);
    color: #FF4E42;
  }
}

@keyframes floatE1 {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(1.5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatL {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-1vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatC {
  0% {
    transform: translateY(0vw);
    color: #ffc024;
  }
  50% {
    transform: translateY(3vw);
    color: #1820EF;
  }
  100% {
    transform: translateY(0vw);
    color:#ffc024;
  }
}

@keyframes floatO {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatM {
  0% {
    transform: translateY(0vw);
    color:#ffc024;
  }
  50% {
    transform: translateY(1vw);
    color: #04c6ac;
  }
  100% {
    transform: translateY(0vw);
    color: #ffc024;
  }
}

@keyframes floatE2 {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-1.5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  25% {
    transform:rotate(35deg);
  }
  50% {
    transform:rotate(0deg);
  }
  75% {
    transform:rotate(-35deg);
  }
  100% {
    transform:rotate(0deg);
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

.guide {
  position: relative;
  align-content: center;
  text-align: center;
  margin: 0 0 1vw 0;

  animation: blink 3s ease-in-out 5s 3;
  color: transparent;

  /* border: red solid 1px; */
}

@keyframes blink {
  0% {
    color: transparent;
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    color: #FF4E42;
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    color: transparent;
    opacity: 0;
    transform: translateY(0px);
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

.pageTextIntro {
  position: relative;
  padding: 5vw 20vw;
  margin: 1vw 0;

  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Reno Mono', sans-serif;

  scroll-snap-stop: always;

  /* border: 1px solid blue; */
}

.container_textIntro {
  align-content: center;
  justify-content: center;
  align-items: center;

  border: 3px solid black;
  border-radius: 1vw;
  background-color:#ffc024;
  box-shadow: 5px 5px #1820EF;

  padding: 4vw;
  max-width: 100%;
  display: flex;

  line-height: 1.8;
  text-align: center;
  font-size: 32;
}

.Deco_speaker {
  position: relative;
  top: 50%;
  left: 30%;
  width: 8vw;
}

/* -------------------------------------------------------------------------------------------------------------- */

.pagePreview {
  width: 100%;
  height: fit-content;
  min-height: 23em;

  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Reno Mono', sans-serif;

  overflow: hidden;
  display: flex;
  flex-direction: row;

  border-top: #000 5px solid;
  border-bottom: #000 5px solid;
  margin: 1vw 0;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: radial-gradient(#3d3d3d 0.5px, #ffffff 0.5px);
  background-size: 10px 10px;

  /* border: 1px solid red; */
}

.CSSgal {
  position: relative;
  height: 100%;
  left: 6%;
  width: 88%;

  overflow: hidden;
  align-content: center;
  justify-content: center;

  border-right: #000 solid 3px;
  border-left: #000 solid 3px;
  color: black;	
  text-align: left;

  /* border: 1px solid blue; */
}

/* SLIDER */
.CSSgal .slider {
  width: 100%;
  height: 100%;
  min-width: 100%;

  padding-left: 0%;
  margin-left: -0.08%;
  
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
  align-content: center;
  justify-content: center;

  /* border: 1px solid purple; */
}

/* SLIDES */
.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  background: none 50% no-repeat;
  background-size: cover;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  margin-top: -1%;
  margin-bottom: -2%;

  /* border: 1px solid green; */
}

.img .container_picture {
  position: relative;
  width: fit-content;
  padding: 0%;
  margin: 0%;
  flex-grow: 1;

  /* border: 1px solid red; */
}

.img .container_text {
  position: relative;
  width: fit-content;
  padding: 0%;
  margin: 0%;
  flex-grow: 1;

  /* border: 1px solid lightblue; */
}

.picture {
  position: relative;
  width: 40%;
  float: left;
  min-width: 460px;
  height: 100%;
}

.picture img {
  border: #000 3px solid;
  object-fit: fill;
}

.text {
  position: relative;
  border: #000 3px solid;
  background: white;
  box-shadow: #1820EF 3px 3px;
  border-radius: 5mm;
  width: 35%;

  margin: 5vw 5.5vw 0% 8vw;
  padding: 0% 2% 0% 2%;
  float:left;
  text-align: justify;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btn_readMore {
  position: relative;
  top: 100%;
  left: 70%;
  border: #000 3px solid;
  background: white;
  box-shadow: #1820EF 3px 3px;
  border-radius: 1vw;
  width:fit-content;
  height:fit-content;
  padding: 3% 4% 3% 4%;
  margin-bottom: 0.5%;
}

.btn_readMore:hover {
  box-shadow: 5px 5px #000;
  background-color: #FF4E42;
  transform: scale(1.05);
  z-index: 1;
}

.btn_readMore:active {
  box-shadow: 2px 2px #000;
  position: relative;
  transform: translate(0.1em);
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 50%;
  width: 100%;
  opacity: 0.3;

  /* border: 1px solid orange; */
}

.btn_img {
  position:absolute;
  left: 25%;
  top: 30%;
  width: 50%;
  opacity: 0.3;
}

.CSSgal .prevNext:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  border-radius: 2vw;
  background: #fff;
  position: absolute;
  width:       50px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}

.CSSgal .prevNext a:active {
  scale: 1.1;
}

.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */
.CSSgal .bullets {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:space-around;
  left: 98%;
  top: 1%;
  z-index: 2;
  padding: 10px 2px;
  width: fit-content;
  height: 15%;
  text-align: center;

  /* border: 1px solid green; */
}

.CSSgal .bullets > a {
  display: inline-block;
  border-radius: 20%;
  width:       12px;
  height:      12px;
  line-height: 12px;
  background: rgb(121, 121, 121 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.CSSgal .bullets > a:hover {
  background: #1820EF;
  opacity: 0.6;
}

.CSSgal .bullets > a:active {
  background: #1820EF;
  scale: 1.5;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal > s:target ~ .bullets > * {      background: rgba(116, 116, 116, 0.25);}
/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {background: #1820EF; width: 18px;}
#s2:target ~ .bullets > *:nth-child(2) {background: #1820EF; width: 18px;}
#s3:target ~ .bullets > *:nth-child(3) {background: #1820EF; width: 18px;}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}

/* -------------------------------------------------------------------------------------------------------------- */

.pageOthers {
  width: 100%;
  height: fit-content;
  margin: 7vw 0;

  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Reno Mono', sans-serif;

  /* border: red 1px solid; */
}

.containerExp {
  position: relative;
  width: 88%;
  height: 100%;
  margin: 3% 6%;
  display:grid;
  grid-row: span;
  text-align: center;

  /* border: green 1px solid; */
}

.otherWorks {
  position:relative;
  margin: 2% 0% 1% 0;
  padding: 2% 0% 2% 0;
  border: black 3px solid;
  border-radius: 1vw;
}

.grid-3-columns {
  position: relative;
  display: flex;
  flex: content;
  justify-content: space-between;
  flex-wrap: wrap;

  /* border: blue 1px solid; */
}

.column {
  position: relative;
  width: 30%;
  height: fit-content;
  
  overflow: hidden;
  margin: 1.5% 0;

  border-radius: 1.5vw;
  border: black 5px solid;
  box-shadow: #1820EF 4px 4px;
}

.column img {
  width: 20vw;
  margin-bottom: -6.5%;
}

.column h3 {
  border-top: #000 3px solid;
  padding-top: 5%;
}

.column h3:active {
  transform: scale(1.1);
}

.column:hover {
  box-shadow: 6px 6px #FF4E42;
  background-color: #ffc024;
  scale: 1.02;
  z-index: 1;
}

.column:active {
  box-shadow: 2px 2px #000;
  position: relative;
  width: 31%;
}

/* -------------------------------------------------------------------------------------------------------------- */
